.music-virtualize-box{
    // background: $bg-alt;
}
.music-virtualize-volume{
    margin-right: 10;
}
.cavabar{
    margin-left: 10
}
.music-virtualize-player-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
     font-size: 20px;
    color: $purple;}
// .cavabar{
//     text-align: left;
// }